<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
</head>
  <body>
    <section>
      <div class="header">
        <div class="container">
          <div class="logo">
          <h1><a>Project</a></h1>  
          </div>
        </div>
      </div>
    </section>
    <section>
      <div><a href="/new" class="btn">Add Item</a></div>
    </section>
    <section>
      <div class="container">
        <span class="item">
          <ul id="list" class="unstyled">
             <% @items.each do |item| %>
             <hr class="full-line">
             <img src="/<%=item[:path]%>" height='100' width='100'/> 
                <li id="<%= item[:id] %>">
                    Item: <%= item[:name] %>
                    Price: £<%= item[:price]%>
                    Weight: <%= item[:weight]%> grams 
                </li>
             <% end %>
          </ul>
        </span>
      </div>
    </section> 
  </body>
</html>

